<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>新增物品</title>
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>
<div class="m-container m-padded-tb-big">

    <div class="ui divider"></div>
    <div class="ui  segment">
        <div class="ui grid">
            <div class="eight wide column">
                添加图片
            </div>

            <div class="eight wide column">
                <div>
                    商品信息
                </div>
                <div>
                    商品描述
                </div>
            </div>
        </div>


</div>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

</body>
</html>