<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>商品添加</title>
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>
<div class="m-container m-padded-tb-big">

    <div class="ui divider"></div>
    <div class="ui  segment">
        <div class="ui grid">
            <div class="seven wide column">
                <!--添加图片-->
                <img src="picture/goods.png">
            </div>

            <div class="nine wide column">
                <div class="m-fontsize-16">
                    名称:
                    <div class="ui input  m-div1 ">
                        <input class="m-input1 " type="text" placeholder="请输入..">
                    </div>
                </div>
                <div>
                    价格:
                    <div class="ui input ">
                        <input type="text" placeholder="请输入..">
                    </div>
                </div>
                <div>
                    描述:
                    <div class="ui input ">
                        <input type="text" placeholder="请输入..">
                    </div>
                </div>
                <div class="ui grid">
                    <div class="eight wide column">
                        库存:
                        <div class="ui input ">
                            <input type="text" placeholder="请输入..">
                        </div>
                    </div>
                    <div class="eight wide column">
                        是否开启秒杀
                        <button id="btn-seckill" onclick="switchSeckillState()" class="ui toggle button active" value="1">开启</button>

                    </div>
                </div>
                <div class="ui grid">
                    <div class="eight wide column">
                        秒杀价格:
                        <div class="ui input ">
                            <input type="text" placeholder="请输入..">
                        </div>
                    </div>
                    <div class="eight wide column">
                        秒杀时间:
                        <div class="ui input    ">
                            <input type="text" placeholder="请输入..">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script>
    function switchSeckillState() {
        var state = $('#btn-seckill').val();
        if (1 == state) {
            $('#btn-seckill').val('0');
            $('#btn-seckill').text('关闭');
            $('#btn-seckill').removeClass("active");
        }else {
            $('#btn-seckill').val('1');
            $('#btn-seckill').text('开启');
            $('#btn-seckill').addClass("active");
        }

    }
</script>
</body>
</html>