<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>
<div class="m-container m-padded-tb-big">

    <div class="ui divider"></div>
    <div class="ui  segment">
        <div class="ui grid">
            <div class="seven wide column">
                <!--添加图片-->
                <img src="picture/goods.png">
            </div>

            <div class="nine wide column">
                <div>
                    <h2>百草味 手撕面包1kg全麦整箱早餐饼干网红蛋糕点心礼盒装零食小吃</h2>
                </div>
                <div>
                    价格:999羊
                </div>
                <div>
                    手撕面包1kg全麦整箱早餐饼干网红蛋糕点心礼盒装零食小吃手撕面包1kg全麦整箱早餐饼干网红蛋糕点心礼盒装零食小吃手撕面包1kg全麦整箱早餐饼干网红蛋糕点心礼盒装零食小吃手撕面包1kg全麦整箱早餐饼干网红蛋糕点心礼盒装零食小吃手撕面包1kg全麦整箱早餐饼干网红蛋糕点心礼盒装零食小吃
                </div>
                <div class="ui grid">
                    <div class="eight wide column">
                        库存： 100件
                    </div>
                    <div class="eight wide column">
                        是否开启秒杀
                    </div>
                </div>
                <div class="ui grid">
                    <div class="eight wide column">
                        秒杀价格
                    </div>
                    <div class="eight wide column">
                        秒杀时间
                    </div>
                </div>
            </div>
        </div>


</div>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

</body>
</html>