<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>
<div class="m-container m-padded-tb-big">
<!--下一步 两个div 同一行-->
<!--下一步 jquery绑定事件操作按钮属性-->
    <div class="ui divider"></div>
    <div class="ui  segment">
        <div class="ui grid">
            <div class="seven wide column">
                <div style="float: left; width: 75%"><!--添加图片-->
                    <img style="width: 100%" src="picture/goods.png">
                </div>
                <div style="float: left; width: 25%">
                    <ul>
                        <li>
                            <a href="">图片1</a>
                        </li>
                        <li>
                            <a href="">图片2</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="nine wide column">
                <div>
                    <h2>百草味 手撕面包1kg全麦整箱早餐饼干网红蛋糕点心礼盒装零食小吃</h2>
                </div>
                <div>
                    价格:999羊
                </div>
                <div>
                    手撕面包1kg全麦整箱早餐饼干网红蛋糕点心礼盒装零食小吃手撕面包1kg全麦整箱早餐饼干网红蛋糕点心礼盒装零食小吃手撕面包1kg全麦整箱早餐饼干网红蛋糕点心礼盒装零食小吃手撕面包1kg全麦整箱早餐饼干网红蛋糕点心礼盒装零食小吃手撕面包1kg全麦整箱早餐饼干网红蛋糕点心礼盒装零食小吃
                </div>
                <div class="ui grid">
                    <div class="eight wide column">
                        库存： 100件
                    </div>
                    <div class="eight wide column">
                        是否开启秒杀
                        <button id="btn-seckill" onclick="switchSeckillState()" class="ui toggle button active" value="1">开启</button>

                    </div>
                </div>
                <div class="ui grid">
                    <div class="eight wide column">
                        秒杀价格
                    </div>
                    <div class="eight wide column">
                        秒杀时间
                    </div>
                </div>
            </div>
        </div>


</div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script type="text/javascript">
    function switchSeckillState() {
        var state = $('#btn-seckill').val();
        if (1 == state) {
            $('#btn-seckill').val('0');
            $('#btn-seckill').text('关闭');
            $('#btn-seckill').removeClass("active");
        }else {
            $('#btn-seckill').val('1');
            $('#btn-seckill').text('开启');
            $('#btn-seckill').addClass("active");
        }

    }

</script>
</body>
</html>