<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>商品添加</title>
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>
<div class="m-container m-padded-tb-big">

    <div class="ui divider"></div>
    <div class="ui  segment">
        <div class="ui grid">
            <div class="seven wide column">
                <!--添加图片-->
                <img src="picture/goods.png">
            </div>

            <div class="nine wide column">
                <div class="m-fontsize-16">
                    名称:
                    <div class="ui input focus m-div1 ">
                        <input class="m-input1 " type="text" placeholder="请输入..">
                    </div>
                </div>
                <div>
                    价格:
                    <div class="ui input ">
                        <input type="text" placeholder="请输入..">
                    </div>
                </div>
                <div>
                    描述:
                    <div class="ui input ">
                        <input type="text" placeholder="请输入..">
                    </div>
                </div>
                <div class="ui grid">
                    <div class="eight wide column">
                        库存:
                        <div class="ui input ">
                            <input type="text" placeholder="请输入..">
                        </div>
                    </div>
                    <div class="eight wide column">
                        秒杀:
                        <div class="ui input ">
                            <input type="text" placeholder="请输入..">
                        </div>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="eight wide column">
                        秒杀价格:
                        <div class="ui input ">
                            <input type="text" placeholder="请输入..">
                        </div>
                    </div>
                    <div class="eight wide column">
                        秒杀时间:
                        <div class="ui input    ">
                            <input type="text" placeholder="请输入..">
                        </div>
                    </div>
                </div>
            </div>
        </div>


</div>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

</body>
</html>