<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>订单</title>
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-minier" th:replace="_fragments :: nav(4)">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">秒杀商城</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>搜索</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>秒杀</a>
            <a href="#" class="active  m-item item m-mobile-hide"><i class="clone icon"></i>订单</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>卖家中心</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="m-container m-padded-tb-big">
    <div class="ui divider"></div>
        <div class="m-container m-padded-tb-big">
            <div class="ui container">
                <!--TODO订单普通搜索要不要加上-->
<!--                <div  class="ui secondary segment form">-->
<!--                    <input type="hidden" name="page" >-->
<!--                    <div class="inline fields">-->
<!--                        <div class="field">-->
<!--                            <input type="text" name="title" placeholder="商品" style="width: 250px">-->
<!--                        </div>-->

<!--                        <div class="field">-->
<!--                            <button type="button" id="search-btn" class="ui teal basic button"><i class="search icon"></i>搜索</button>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
                <div id="table-container">
                    <table th:fragment="blogList" class="ui compact teal table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>商品id</th>
                            <th>订单状态</th>
                            <th>订单价格</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--TODO 实现订单list页 然后普通订单业务基本上就完成了-->
                        <tr th:each="order,iterStat : ${pageInfo.records}">
                            <td th:text="${iterStat.count}">1</td>
                            <td th:text="${order.goodsId}">面包</td>
                            <td th:text="${order.status}">待支付</td>
                            <td th:text="${order.price}">待支付</td>
                            <td th:text="${#dates.format(order.createTime,'yyyy-MM-dd HH:mm')}">2020-8-26</td>
                            <td>
                                <!--    <a href="#" class="ui teal basic button">编辑</a>
                                    <a href="#" class="ui red basic button">删除</a>   -->
                                <a href="#" class="ui mini teal basic button">支付</a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="7">
                                <div class="ui inverted divided stackable grid">
                                    <!--分页-->
                                    <div class="ui bottom attached segment m-opacity stackable grid">
                                        <div class="three wide column" align="center">
                                            <a class="ui teal basic button mini item " th:href="@{'/order/list?pageNum='+${pageInfo.current -1}}" th:if="${pageInfo.current>1}">上一页</a>
                                        </div>

                                        <div class="ten wide column" align="center">
                                            <p> <span th:text="${pageInfo.current}"></span> / <span th:text="${pageInfo.pages}"></span> </p>
                                        </div>

                                        <div class="three wide column" align="center">
                                            <a class="ui teal basic button mini item" th:href="@{'?pageNum='+${pageInfo.current +1}}" th:if="${pageInfo.current<pageInfo.pages}">下一页</a>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script>

</script>
</body>
</html>