<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>

<div class="m-container m-padded-tb-massive" style="max-width: 35em !important; padding-top: 12em!important; ">
    <div class="ui container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <div class="content">
                        请注册
                    </div>
                </h2>
                <form class="ui large form" method="post" action="#" th:action="@{/register}">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="envelope icon"></i>
                                <input id="email" type="text" name="email" placeholder="邮箱">
                            </div>
                        </div>

                        <div class="field" style="width: 345px; float: left">
                            <div class="ui left icon input">
                                <i class="envelope open icon"></i>
                                <input type="text" name="mailVerify" placeholder="请输入邮箱验证码">
                            </div>
                        </div>

                        <div>
                            <input type="button" id="sendEmail" class="ui teal button" style="width: 110px;height: 38px" onClick="submitAction();return false;"value="点击获取" ></input>
                        </div>

                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="密码">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="unlock alternate icon"></i>
                                <input type="password" name="passwordConfirm" placeholder="请确认密码">
                            </div>
                        </div>

                        <!--验证码部分 action="imgvrifyControllerDefaultKaptcha"-->
                        <div class="field" style="width: 345px; float: left">
                            <div class="ui left icon input">
                                <i class="edit icon"></i>
                                <input type="text" placeholder="请输入图形验证码" name="verifyCode" />
                            </div>
                        </div>

                        <div>
                            <img alt="验证码" onclick="this.src='defaultKaptcha?d='+new Date()*1"
                                 src="defaultKaptcha">
                        </div>


                        <button class="ui fluid large teal submit button">注 册</button>

                        <br/>

                        <div class="field" style="display: inline">
                            <span> <a th:href="@{/toLogin}" href="login.html" style="margin-left: 330px">已有账号,去登陆</a> </span>
                        </div>
                    </div>

                    <div class="ui error message"></div>
                    <div class="ui negative message " th:unless="${#strings.isEmpty(message)}" th:text="${message}">邮箱验证码不正确</div>
                </form>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

<script>

    $(document).ready(function(){
        $("#sendEmail").click(function(){
            var email = $("#email").val();
            $.post(
                "/sendEmail",
                {email: email},
                function (data) {
                    document.getElementById("sendEmail").disabled = true;
                    document.getElementById("sendEmail").value = "已发送";
                })
        });
    });

    $('.ui.form').form({
        fields:{
            username:{
                identifier:'username',
                rules:[{
                    type:'empty',
                    prompt:'请输入邮箱'
                },{
                    type: 'email',
                    prompt: '请输入正确的邮箱格式'
                }]
            },
            // mailVerify:{
            //     identifier:'mailVerify',
            //     rules:[{
            //         type:'empty',
            //         prompt:'请输入邮箱验证码'
            //     }]
            // },
            password:{
                identifier:'password',
                rules:[{
                    type:'empty',
                    prompt:'请输入密码'
                },{
                    type: 'minLength[8]',
                    prompt: '请确保您的密码至少为八位'
                }]
            },
            passwordConfirm:{
                identifier:'passwordConfirm',
                rules:[{
                    type:'empty',
                    prompt:'请确认密码'
                },{
                    type: 'match[password]',
                    prompt: '请确保两次密码一致'
                }]
            },
            verifyCode:{
                identifier:'verifyCode',
                rules:[{
                    type:'empty',
                    prompt:'请输入图形验证码'
                }]
            }
        }
    })
</script>

</body>
</html>